<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/mycss.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1 th:text="${title}"/>
    <div class="cont" th:each="book : ${books}">
        <br>
        <div class="front">
            <h2 th:text="'Title : '+${book.title}"/>
            <h3 th:text="'Author : '+${book.author.name}"/>
            <h3 th:text="'Views : '+${book.views}"/>
        </div>
        <a th:href="'/book/'+${book.id}">
            <div class="back">
                <p>Watch full</p>
            </div>
        </a>
    </div>
</div>

<div class="container" align="right">
    <a href="/add_book" class="btn btn-success" th:text="'Add book'"/>
    <br>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>