<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h2 th:text="${author.name}"/>
    <br>
    <b>
        Author's biography:
    </b>
    <br>
    <a th:text="${author.biography}"/>
    <br>
    <b>
        Author's books:
    </b>
    <div class="cont" th:each="book : ${books}">
        <div class="front">
            <a th:text="${book.title}" th:href="'../book/'+${book.id}"/>
        </div>
    </div>
    <br>
    <form th:action="'/author/'+${author.id}+'/delete'" align="right" method="post">
        <a th:href="'/author/'+${author.id}+'/edit'" align="center" class="btn btn-success" th:text="'Edit author'"/>
        <button class="btn btn-warning" type="submit" >Delete author</button>
    </form>
    <br>
</div>


<div th:insert="blocks/footer :: footer"></div>

</body>
</html>