<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1 th:text="${title}"/>
    <br>
    <div th:each="book : ${books}">
        <h1 th:text="'Title : '+${book.title}"/>
        <h3 th:text="'Author : '+${book.author}"/>
        <a th:text="'Views : '+${book.views}"/>
        <p align="center">
            <a th:href="'/book/'+${book.id}">Watch full</a>
        </p>
        <br>
    </div>
</div>


<div th:insert="blocks/footer :: footer"></div>

</body>
</html>