<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1 th:text="${user.name}"/>
    <h2 th:text="${user.email}"/>
    <br>
    <form action="/profile/logout" align="right" method="post">
        <a th:href="'/profile/'+${user.id}+'/edit'" align="center" class="btn btn-success" th:text="'Edit book'"/>
        <button class="btn btn-warning" type="submit">Logout</button>
    </form>
    <br>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>